#mns{
    background-color: blue;
    
    border: solid;
    font-family: 'Times New Roman', Times, serif;
}


#txtinicial{
    text-align: center;
}

#pok{
    margin: 15px 20px;
    text-align: center;
    
}

.imagenes{
    margin: 15px auto;
    text-align: center;
}


.botones{
    
    margin: 15px auto;
    width: 200px;
    height: 30px;
    border-radius: 10px;
   
}

.botones1{
    display: grid;
    text-align: center;
}

.botones2{
    text-align: center;

}

.botones3{
    display: grid;
    text-align: center;
}


